<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{background-color:aqua}
    </style>
    <h1>At foo bar</h1>
    <h2>
        <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %>
    </h2>
    <img src="<%= drink.image.slice(0,drink.image.length-3)+"png" %>" alt="da pic">
    <h3>
        <%= "$"+drink.price %>
    </h3>
    <a href="/drinks/">Back</a>
</body>
</html>